.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background-color: rgba($color: #909090, $alpha: 0.3);
  user-select: none;
}

.preloader {
  width: 6.25rem;
  z-index: 100;
}
